.user-container{
    display: flex;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    /* text-overflow: hidden; */
    word-wrap: break-word
}
.user-container a{
    text-decoration: inherit;
    color:inherit;
}
.user-container img{
    justify-self: flex-start;
}
.user-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon{
    cursor: pointer;
    margin-right: 20px;
}
.user-icon:hover{
    color:#777;
}