body {
  /* max-width: 100vh; */
  /* max-height: 100vh;   */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color:  #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}